.wrapper-menu {
  width: 100%;
  padding: 17px 26px 0 23px;
}

.logo img {
  width: 123px;
  height: 48px;
}

.nav {
  margin-top: 49px;
}

.nav-child {
  display: flex;
  align-items: center;
  padding: 13px 14px 13px 22px;
  font-weight: 500;
  text-decoration: none;
  color: #1e0d03;
  opacity: 0.6000000238418579;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s linear;

  span {
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    margin-left: 10px;
  }

  &.active {
    font-weight: 700;
    color: #fff;
    background-color: #ffb800;
  }
}

.services-menu {
  padding: 5px 16px 15px 70px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #1e0d03;
  opacity: 0.6000000238418579;
  letter-spacing: 0.27px;
  cursor: pointer;
}
