.select-page-child {
  ul {
    .ant-pagination-item {
      a {
        font-family: Montserrat;
      }
    }

    .ant-pagination-item-active {
      border-color: #ff993c !important;

      a {
        color: #ff993c !important;
      }
    }
  }
}
