.wrapper-setting {
  height: 658px;
  padding: 16px 16px 0 16px;
  background-color: #fff;
  border-radius: 16px;
}

.wrapper-header-ticket-pack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.search-ticket {
  display: flex;
  width: 384px;
  height: 48px;
  padding: 10px 16px;
  align-items: center;
  border-radius: 8px;
  background-color: #f7f7f8;

  input {
    width: 100%;
    height: 100%;
    margin-right: 16px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    color: #1e0d03;
    background-color: #f7f7f8;
  }
}

.action-ticket {
  display: flex;
}

.action-ticket button {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s linear;
}

.export-pack-button {
  padding: 7px 22px;
  margin-right: 15px;
  color: #ff993c;
  background-color: #fff;
  border: 1px solid #ff993c;

  &:hover {
    color: #fff;
    background-color: #ff993c;
  }
}

.add-pack-button {
  display: flex;
  align-items: center;
  padding: 8px 18px;
  color: #fff;
  background-color: #ff993c;
  border: 1px solid #ff993c;

  &:hover {
    color: #ff993c;
    background-color: #fff;
  }
}

.table-pack {
  margin-top: 20px;
}
