.wrapper-default {
  display: flex;
}

.content-layout {
  flex: 1;
  height: 100vh;
  margin-left: 261px;
  padding: 0 22px 22px 0;
  background-color: #f9f6f4;
}

.content-layout-child {
  width: 100%;
}
